.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;

  
  &__list {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 200px;
    margin-right: 95px;
  }
  &__link {
    list-style-type: none;
  }
}



.icon__list {
  display: flex;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 24px;
}

.icon--twitter {
  width: 18px;
  height: 14px;
}