.title-section {
  display: flex;
  flex-direction: row;
  margin-left: 125px;

  &__firstdiv {
    display: flex;
    flex-direction: column;
    margin-right: 190px;
    width: 100%;
    max-width: 635px;
  }

  &__seconddiv {
    flex-direction: column;
    display: flex;
    align-content: flex-end;
    align-items: flex-start;
    width: 100%;
    max-width: 207px;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}

.title {
  color: #4A4FF2;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
}

.title-text {
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.line {
  display: flex;
  mix-blend-mode: normal;
  opacity: 0.5;
  font-weight: 700;
  margin: 0;
}

.under-text {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}